body {
  color:#FFF;
  font-size:17px;
  font-family:Arial, sans-serif;
  background:#4054b2;
  font-weight:bold;



}

h1 {
  color:#FFF;
  font-size: 5vw;
  font-family:Trebuchet MS, Arial, sans-serif;
  text-align:center;
}

a {
  color:#FFF;
  text-decoration:none;
}

a:hover { color:#6CC }

input {
  color:#FFF;
  background:#111;
  border:1px solid #333;
  border-radius:3px;
  padding:3px;
}

#magic8Ball {
  background:#151515;
  border-radius:250px;
  height:300px;
  width:300px;
  position:relative;
  overflow:hidden;
  margin:0 auto;
  cursor:pointer;

}

.inner {
  border-radius:100px;
  height:150px;
  width:150px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-75px;
  margin-left:-75px;
  overflow:hidden;
}

#eightSide {
  color:#000;
  font-size:96px;
  text-align:center;
  line-height:150px;
  background:#FFF;
}

#answerSide {
  background:#000;
  border:5px solid #111;
  margin-top:-80px;
  margin-left:-80px;
}

#answer {
  color:#FFF;
  font-size:10px;
  text-align:center;
  width:100px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-35px;
  margin-left:-50px;
  -webkit-animation:float linear 5000ms infinite;
          animation:float linear 5000ms infinite;
}

.shake {
  -webkit-animation:shake linear 250ms infinite;
          animation:shake linear 250ms infinite;
}

.hidden {
  opacity:0;
  visibility:hidden;
  -webkit-transition:1000ms;
     -moz-transition:1000ms;
       -o-transition:1000ms;
          transition:1000ms;
}

.user, .the-8-ball {
  color:#FFF;
  font-weight:bold;
}

.the-8-ball { color:#FFF }

#logBox {
  background:#4054b2;
  border:0px solid #FFF;
  border-radius:15px;
  width:600px;
  margin:0 auto;
  padding:6px 12px;
  margin-top:30px;
}

#magicLog {
  background:#5054b2;
  border:0px solid #FFF;
  border-radius:15px;
  margin-bottom:15px;
  padding:3px;
  height:150px;
  overflow-y:auto;
  overflow-x:hidden;
  text-align: left;

}

#footer {
  text-align:center;
  position:relative;
}

#question {
  text-align: center;
  height:45px;
  width:494px;
  border-radius:15px;

}

#ask {
  background:#4054b2;
  border:5px solid #FFF;
  border-radius:15px;
  height:58px;
  width:100px;
  margin-top:15px;
  position:relative;
  right:0;
  cursor:pointer;
}
#ask:hover { background:#4064b2 }

#links {
  color:#066;
  width:626px;
  margin:0 auto;
  margin-top:10px;
}


/* magical animations */
@-webkit-keyframes shake {
  0% { top:0px }
  25% { top:15px }
  50% { top:30px }
  75% { top:15px }
  100% { top:0px }
}

@keyframes shake {
  0% { top:0px }
  25% { top:15px }
  50% { top:30px }
  75% { top:15px }
  100% { top:0px }
}

@-webkit-keyframes float {
  0% { top:40% }
  25% { top:50% }
  50% { top:60% }
  75% { top:50% }
  100% { top:40% }
}

@keyframes float {
  0% { top:40% }
  25% { top:50% }
  50% { top:60% }
  75% { top:50% }
  100% { top:40% }
}
